

#grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 0.25fr 1fr 1fr 1.5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #D3EDEA;
  height: 100%;
  width: 100%;
  }

#item1{
  grid-area: 1/1/2/12;
  background-color: #D3EDEA;
}
#item2{
  grid-area: 2/1/3/12;
}

#item3{
  grid-area: 5/4/5/7;
}