#siteHeader{
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #D3EDEA;
}
#smallMenuContainer{
  display: none;
}

#dropdownContainer{
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


#homeButton{
  background-color: #D3EDEA;
  color: #09333F;
  border: none;
  width: fit-content;
  height: fit-content;
  font-size: 1.75em;
  border-radius:0;
  outline: none !important;
  grid-column: 2;
  margin-top: 5vh; 
  padding: 5px;
  box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.373); 
}

#homeButton:hover{
  box-shadow:3px 2px 2px 1px rgba(0, 0, 0, 0.373);
}

#homeButton:focus{
  box-shadow:3px 2px 2px 1px rgba(0, 0, 0, 0.373);
}
#generalDropdownComponent{
  grid-column: 4;
  margin-top: 5vh; 
}

#generalDropdown{
  background-color: #D3EDEA;
  color: #09333F;
  border: none;
  width: auto;
  font-size: 1.75em;
  border-radius:0;
  padding: 5px;
  box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.373);
  outline: none !important;
}
#generalDropdown:hover{
  box-shadow:3px 2px 2px 1px rgba(0, 0, 0, 0.373);
}
.dropdown-custom{
  background: #D3EDEA;
}
#aboutusDropdownComponent{
  grid-column: 6;
  margin-top: 5vh; 
  outline: none !important;
}
#aboutusDropdown{
  background-color: #D3EDEA;
  color: #09333F;
  border: none;
  width: auto;
  font-size: 1.75em;
  border-radius:0;
  padding: 5px;
  grid-column: 6;
  box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.373);
}
#aboutusDropdown:hover{
  box-shadow:3px 2px 2px 1px rgba(0, 0, 0, 0.373);
}

#servicesDropdownComponent{
  grid-column: 8;
  margin-top: 5vh; 
  outline: none !important;
}

#servicesDropdown{
  background-color: #D3EDEA;
  color: #09333F;
  border: none;
  width: auto;
  font-size: 1.75em;
  border-radius:0;
  padding: 5px;
  grid-column: 8;
  box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.373);
}
#servicesDropdown:hover{
  box-shadow:3px 2px 2px 1px rgba(0, 0, 0, 0.373);
}

@media only screen and (max-width: 750px) {
  #dropdownContainer > *{
    font-size: 1em;
  }
  #generalDropdown{
    font-size: 1em;
  }
  #aboutusDropdown{
    font-size: 1em;
  }
  #servicesDropdown{
    font-size: 1em;
  }
  
}

@media only screen and (max-width: 749px) {
  #dropdownContainer > *{
    display: none;
  }
  #generalDropdown{
    display: none;
  }
  #aboutusDropdown{
    display: none;
  }
  #servicesDropdown{
    display: none;
  }
  
  #smallMenuContainer{
    display:block;
    grid-column: 2;
  }
}
