#siteHeader{
  width: 100%;
  text-align: center;
  background-color: aquamarine;
  border: solid 1px black;
}


#elmaFamilyDentalTitleText{
  font-size: 3em;
  font-family: 'Libre Bodoni', serif;
  padding-top: 25px;
}

#dropdownContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  
}


#homeButton{
  background-color: white;
  color: aqua;
  border: none;
  width: auto;
  font-size: 1.5em;
  border-radius:0;
 
}

#homeButton:hover{
  background-color: black;
  color: greenyellow;
  border: none;
  width: auto;
  font-size: 1.5em;
  border-radius:0;
}

#generalDropdown{
  background-color: white;
  color: aqua;
  border: none;
  width: auto;
  font-size: 1.5em;
  border-radius:0;

}
#generalDropdown:hover{
  background-color: black;
  color: greenyellow;
  border: none;
  width: auto;
  font-size: 1.5em;
  border-radius:0;
  
}

#aboutusDropdown{
  background-color: white;
  color: aqua;
  border: none;
  width: auto;
  font-size: 1.5em;
  border-radius:0;

}
#aboutusDropdown:hover{
  background-color: black;
  color: greenyellow;
  border: none;
  width: auto;
  font-size: 1.5em;
  border-radius:0;
  
}

#servicesDropdown{
  background-color: white;
  color: aqua;
  border: none;
  width: auto;
  font-size: 1.5em;
  border-radius:0;
  
}
#servicesDropdown:hover{
  background-color: black;
  color: greenyellow;
  border: none;
  width: auto;
  font-size: 1.5em;
  border-radius:0;
  
}

#theDivide{
  width: 100%;
  height: 10vh;
  background-color:white;
  color: black;
  margin-top: 5px;
  text-align: center;
}

